
.wp-block-shayna-prod-accessible-drawer {
  position: static;

  & h2.collapsed-state {
    font-size: 1.125rem;
    font-weight: bold;

  }


  &.is-draft {
    &.is-open {
      &button#toggle-drawer {
        float: none;
        width: auto;
      }

      & #sliding-drawer {
        float: none;
        width: 100%;
      }
    }
  }
}
